
{{ form_start(form) }}
{#     <formulaire #}
     {{ form_row( form.title , { 'label': myLabel }) }}
{#    <label></label>
      <input></input>
 #}
<input type="submit" value="enregistrer">
{{ form_end(form) }}
{#     formulaire > #}