{% extends 'admin/base.html.twig' %}

 {% block body %}
     <h2>Voici la page de modifiaction d'une année</h2>

     {{ form_start(form) }}
     {#     <formulaire #}
     {{ form_row(form.title ,{'label': "L'année à modifier"}) }}
     {#    <label></label>
           <input></input>
      #}
     <input type="submit" value="enregistrer">
     {{ form_end(form) }}
     {#     formulaire > #}
 {% endblock %}