{% extends 'admin/base.html.twig' %}

 {% block body %}
     <h2>Voici la page de création de nouvelle année</h2>

{#     inclusion du formulaire inclus comme ce qui suit #}
     {% include 'admin/year/_form.html.twig' with {'myLabel': "L'année " } %}

 {% endblock %}