{% extends 'admin/base.html.twig' %}

 {% block body %}
     <h2>Voici la page de création de nouvelle promotion</h2>

     {#     inclusion du formulaire inclus comme ce qui suit #}
     {% include 'admin/promotion/_form.html.twig' %}

 {% endblock %}